.alcb-switcher {
    .components-button-group {
        width: 100%;
        margin-bottom: 0;
        display: flex;
    }

    .switcher-button {
        width: 100%;
        justify-content: center;
        box-shadow: none !important;
        border-color: #e0e0e0 !important;
        &.alcb-active {
            background-color: #eeeeee;
        }
    }
}

.alcb-switcher-content {
    margin-top: 16px !important;
}
