img {
    max-width: 100%;
}
.plugin_head {
    text-align: center;
    padding: 100px 0;
    box-sizing: border-box;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.admin_page_container {
    margin-left: -20px;
}

.head_container {
    max-width: 500px;
    margin: 0 auto;
}

h1.plugin_title {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 900;
}

h4.plugin_subtitle {
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
}

.plugin_body {
    max-width: 1000px;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.doc_video_area {
    width: 65%;
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    margin-right: 5%;
}

.support_area {
    width: 30%;
}

.single_support {
    text-align: left;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    padding: 30px 20px;
    border-radius: 5px;
    &.pro_support {
        border-color: #0074a3;
    }
}

h4.title {
    font-size: 16px;
    margin: 0 0 15px;
}

p.description {
    font-size: 15px;
}
a.pro-btn {
    display: inline-block;
    background: #0074a3;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 15px;
}
